<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">Tentang Kami</div>
		<div class="panel-body">
			<p> Aku adalah anak gembala selalu riang serta gembira</p>
			<p> Karena aku senang bekerja tak pernah malas ataupun lelah</p>
			<p> Lalalalalalala</p>
		</div>
	</div>
</div>