<p id="notice"><%= notice %></p>

<p>
  <strong>Package:</strong>
  <%= @package_detail.package %>
</p>

<%= link_to 'Edit', edit_package_detail_path(@package_detail) %> |
<%= link_to 'Back', package_details_path %>
